@{
    ViewData["Title"] = "About Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Attitude Aviation is a company in Hungtington, West Virginia</p>
<p>We do airplane rentals, airplane maintenance, and flight lessons!</p>